intel-extension-for-transformers
fastapi
uvicorn
accelerate
datasets
cmake
einops
matplotlib
numpy
peft
protobuf<3.20
py-cpuinfo
sentencepiece
setuptools>=61
tiktoken
torch==2.1.0+cpu
transformers
transformers_stream_generator